.main
{
    left: 0px;
    margin-left : 100px;
    bottom: 0px;
    right: 0px;
    margin-right: 100px;
    background-color: rgb(233, 233, 233);
}
.TopButtonClass
{
    display: block;
    position: fixed;
    right: -50px;
    bottom: 0px;
    text-align: center;
    /* background-color: #333; */
    margin-bottom: 50px;
    opacity: 0.7;
}
.TopButtonClass:hover
{
    /* background-color: #555; */
    opacity: 0.5;
}
.Menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    top: 0px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 80px;
    color: white;
    background: black;
    opacity: 0.9;
}
a.UnderLine
{
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
}
a.UnderLine:after
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translate(-100% , 0);
    transition: transform cubic-bezier(0.215 , 0.61 , 0.355 , 1) 0.4s;
    content: "";
}
a.UnderLine:hover:after
{
    transform: translate(0 , 0);
}
a.NoUnderLine:after
{
    content: none;
}
li
{
    list-style: none;
    /* margin-left: 20px; */
}
.Header
{
    /* display: flex; */
    /* flex-wrap: wrap; */
    
    align-items: center;
    justify-content: left;
    width: 100vw;
    top: 0px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 150px;
    color: white;
    background: linear-gradient(to top left, rgb(77, 122, 190) , rgb(29, 115, 244));
}
