---
import { Twitter, Github } from 'lucide-astro';
const today = new Date();
---

<footer class="bg-neutral-900 text-neutral-400 py-12 flex flex-col items-center justify-center space-y-6">
  <div class="flex space-x-6">
    <a href="https://twitter.com/Kaede_Reape0430" class="hover:text-white transition-all duration-300 hover:-translate-y-1 transform">
      <Twitter size={24} strokeWidth={1.5} />
    </a>
    <a href="https://github.com/weizuSANN" class="hover:text-white transition-all duration-300 hover:-translate-y-1 transform">
      <Github size={24} strokeWidth={1.5} />
    </a>
  </div>
  <div class="text-center space-y-2">
    <p class="text-xs tracking-widest">© {today.getFullYear()} KisaragiLab. All rights reserved.</p>
  </div>
</footer>
