---
import { Twitter, Github } from 'lucide-astro';
const today = new Date();
---

<footer class="bg-neutral-900 text-neutral-500 py-16 flex flex-col items-center justify-center space-y-8">
  <div class="flex space-x-8">
    <a href="https://twitter.com/Kaede_Reape0430" class="hover:text-white transition-opacity duration-300 opacity-60 hover:opacity-100" aria-label="Twitter">
      <Twitter size={24} strokeWidth={1} />
    </a>
  </div>
  <div class="text-center">
    <p class="text-[10px] tracking-[0.2em] uppercase font-mono opacity-60">© {today.getFullYear()} KisaragiLab. All rights reserved.</p>
  </div>
</footer>
